.catalogAllContainer {
  padding: 24px 118px 80px 118px;
  background-color: #fbf8ec;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navigationsContent {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navigationsContent :nth-child(2) {
  width: 24px;
  height: 24px;
}

.navigationsContent :nth-child(1) {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #414141;
}

.navigationsContent :nth-child(3) {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #8f8f8f;
  text-decoration: none;
}

.headerCatalog {
  font-family: "Rubik", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  color: #414141;
}

#contentCategoryAll {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.catalogContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.contentCategory img {
  width: 272px;
  height: 200px;
  border-radius: 4px;
}

.contentCategory img.largeImg {
  width: 584px;
  height: 200px;
}

.contentCategory :nth-child(2) {
  position: absolute;
  margin-top: -50px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  padding: 10px;
}

.containerCategoryImg {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  cursor: pointer;
}

.contentCategory:hover {
  filter: brightness(0.8);
}

@media (max-width: 750px) {
  .catalogAllContainer {
    padding: 20px 60px;
  }

  .headerCatalog {
    font-size: 48px;
  }

  .catalogContainer {
    gap: 20px;
  }

  .contentCategory img.largeImg {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 478px) {
    .catalogAllContainer {
      padding: 20px 60px;
    }
  
    .headerCatalog {
      font-size: 48px;
    }
  
    .catalogContainer {
      gap: 20px;
    }
  
    .contentCategory img.largeImg {
      width: 272px;
      height: 200px;
    }
  }