#footer {
  background-color: #f9f4e2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 24px 116px;
}

.containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentRightFooter {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contentRightFooter :nth-child(1) {
  width: 64px;
  height: 44px;
}

.contentRightFooter a {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #414141;
  text-decoration: none;
}

.iconsContentFooter {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconsContentFooter img {
  width: 24px;
  height: 24px;
}

.contentLeftFooter {
  display: flex;
  align-items: center;
  gap: 40px;
}

.phone :nth-child(1) {
  width: 24px;
  height: 24px;
}

.phone :nth-child(2) {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.designFooter {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 26px;
  justify-content: flex-end;
}

.designFooter :nth-child(2) {
  width: 100px;
  height: 10px;
}

.designFooter :nth-child(1) {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #414141;
}

@media (max-width: 1350px) {
  .contentLeftFooter {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1030px) {
  .contentRightFooter {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .contentRightFooter {
    flex-wrap: wrap;
    gap: 20px;
  }

  .phone {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .containerFooter {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .phone {
    flex-direction: column;
    gap: 8px;
  }

  .contentRightFooter {
    flex-direction: column;
    align-items: center;
  }

  .contentRightFooter :last-child {
    display: none;
  }
}

@media (max-width: 500px) {
  #footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px 40px;
  }

  .phone {
    flex-direction: column;
    gap: 8px;
  }
}
